<div
  id="cover"
  class="cover"
  >

  <!-- Loading Elements -->
  <div *ngIf="!isDataAvailable">
    <div class="cover__content"></div>
  </div>

  <!-- Content Elements (Post Load) -->
  <div *ngIf="isDataAvailable">
    <div class="cover__content">

    <div class="cover__intro" [style.opacity]="0">
      <p class="cover__greeting" [innerHtml]="cover_cda.fields.intro"></p>
      <h3 id="cover__headline" class="cover__headline" [innerHtml]="cover_cda.fields.name"></h3>
    </div>

    <br/>

    <div class="cover__deets" [innerHtml]="this.briefHTML"></div>

    </div>
  </div>

  <!-- Scroll Indicator -->
  <a
    href="#about"
    class="cover__link ara__fade-in">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>

</div>
