<div
  id="cover"
  class="cover"

  >

  <div class="cover__content">

    <div class="cover__intro">
      <p class="cover__greeting">Hi! I'm </p>
      <h3 id="cover__headline" class="cover__headline">Clifford Ryan Nelson</h3>
    </div>

    <br/>

    <p class="cover__deets">
      I write code, think about data, and create digital experiences.
      <br/>
      Currently Design Prototyper contracting at Netflix.
    </p>

    <p class="cover__deets">
      Check out
      <a class="link" (click)="router.navigate(['/resume/'])">my resume</a>
      or see me on
      <a href="http://www.google.com">Codepen.io</a>
    </p>

    <p class="cover__deets">
      <i style="font-size: 0.8em;">! don't mind the construction we're still open !</i>
    </p>


  </div>



  <a
    href="#about"
    class="cover__link ara__fade-in">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>

</div>






<!--



<p id="subheadline" class="cover__desc">Creative Technologist & Prototyper</p>

I am a creative technologist, experience designer and a visionary.

 -->
