@import "../../variables.scss";

.cover {
  position: relative;
  color: white;

  a {
    color: white;
    text-shadow: -1px 1px 1px rebeccapurple;
    font-weight: bold;
  }

  &__content {
    // text-align: center;
    // color: white;
    // margin: 30vh 13em;

    padding: 16vh 4em;


    @include md {
      padding: 24vh 12em;
    }

    min-height: 90vh;
    box-sizing: border-box;
  }

  &__headline {
    max-width: none;
    // text-transform: uppercase;
    color: white;
    font-weight: 400;
    padding: 0;
    margin: 0;


    letter-spacing: 1px;
    font-size: 8vw;


    @include md {
      font-size: 5vw;
    }
    @include lg {
      text-shadow:
        -1px 1px 0 #ccc,
        -2px 2px 0 #c9c9c9,
        -3px 3px 0 #bbb,
        -4px 4px 0 #b9b9b9,
        -5px 5px 0 #aaa,
        -6px 6px 1px rgba(0,0,0,.1),
        -1px 1px 3px rgba(0,0,0,.3),
        -3px 3px 5px rgba(0,0,0,.2),
        -5px 5px 10px rgba(0,0,0,.25),
        -10px 10px 10px rgba(0,0,0,.2),
        -20px 20px 20px rgba(0,0,0,.15);
    }

    span {
      position: relative;
    }
  }

  &__deets {
    p {
      font-size: 1.2em;
      line-height: 1.8em;
    }
    a {
      color: white;
      text-shadow: -1px 1px 1px rebeccapurple;
      font-weight: bold;
    }
  }

  &__desc {
    // font-size: 3vw;
    font-weight: 200;
    color: white;
  }

  &__link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2em;
    color: inherit;
    color: white;
    font-weight: 100;
    animation: bounce 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    from { transform: translateY(0);}
    to   { transform: translateY(20px);}
  }
}

p {
  position: relative;
}
